<!-- Home Page -->
<ion-view view-title="Homepage">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

  <ion-content has-subheader="false">
    <ion-grid>
      <ion-row>
        <ion-col width-90>
          <div class="banner"> 
          <img src="../images/Banner.png" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="buttonholder">
     <a href="#/menu/round" class="flightbutton" title="Book a Flight">Book a Flight</a>
     <a href="#" class="hotelbutton" title="Book a Hotel">Book a Hotel</a>
     <a href="#" class="carbutton" title="Book a Car">Book a Car</a>
    </div>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-assertive">
   <h1 class="title">&copy; 2017 Amxti.Com</h1>
</div>